              <li class="session-relation-tree-node<%= session.path == current_session.path ? " is-current" : "" %>">
                <div class="session-relation-tree-item">
                  <% if session.path == current_session.path %>
                    <span class="session-relation-current-marker" aria-label="Current session">Current</span>
                    <span class="session-relation-tree-title"><%= h session.display_name %></span>
                  <% else %>
                    <a class="session-relation-tree-title" href="<%= h session_url(session.path) %>"><%= h session.display_name %></a>
                  <% end %>
                </div>
                <% children = session_children(session) %>
                <% if children.any? %>
                  <ul class="session-relation-tree-children">
                    <% children.each do |child_session| %>
                      <%= erb :_session_relation_tree_node, layout: false, locals: { session: child_session, current_session: current_session } %>
                    <% end %>
                  </ul>
                <% end %>
              </li>
